table{
    border: 1px solid black;
    
}
th{
    text-align: right;
}
th,td{
    padding: 10px;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}